<!DOCTYPE html>
<html>
	<head>
        <title>Cuddle Pile - Edit Username</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/loginOrCreate.css') }}">
    </head>
    <body>
		
		<nav>
			<a href="/viewAccountInfo"> Account Info </a>
		</nav>
		<br><br>
        <form action = "{{ url_for('editUsername') }}" method = "POST">
			<p style="font-style: normal;">Enter Username </p>
			<input type="text"
				   placeholder="Username..."
			name="newUsername" 
			pattern="^[a-zA-Z0-9\s\S]*$" 
			title="Must Only Contain A-z, 0-9" required>
			<p><input class="loginBtn" style="width: 250px;" type = "submit" value = "Change Username"/></p>
		</form>
    </body>
</html>