<!DOCTYPE html>
<html>
	<head>
        <title>Cuddle Pile - Change Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/loginOrCreate.css') }}">
    </head>
    <body>
        <script src="path/to/your/confirmPasswordChange.js"></script>
		
		<nav>
			<a href="/viewAccountInfo"> Account Info </a>
		</nav>
		<br><br>
        <form action ="{{ url_for('changePassword') }}" method = "POST">

			<p style="font-style: normal;">Enter Old Password </p>
            {% if error %}
                <h6>{{error}}</h6>
            {% endif %}
			<input type="password"
				   placeholder="Old Password..."
			name="oldPassword" 
			pattern="^[a-zA-Z0-9@!?$.]*$"  
			title="Must only contain Alphanumeric Characters" required>

            <p style="font-style: normal;">Enter New Password </p>
			<input type="password"
				   placeholder="New Password..."
					name="newPassword" 
					pattern="^[a-zA-Z0-9@!?$.]*$" 
					title='Must only contain Alphanumeric Characters'>

			<p><input class="loginBtn" style="width: 250px;" type = "submit" value = "Change Password"/></p>
		</form>
    </body>
</html>