<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome {{content}}</h1>

         <br>

         <script src="/static/index.js"></script>

         <!-- <button type="button" onclick="fetchAllClasses_Student()">See All My Classes</button><br> -->
         <a href='http://127.0.0.1:5000/addDrop'>
            <button>Add/Drop Course</button>
          </a>


         <h3>My Classes: </h3><br>
         <table border = 1>
            {% for row in rows %}
        
            <tr>
               <th> {{ row.className }} </th>
               <td> {{ row.Grade }} </td>
            </tr>
        
            {% endfor %}
         </table> <br>


        <a href='/logout'><input type=”button” value=”Logout”></a>
    </body>
</html>