<!-- This html can be anything, it just needs to include this form in some way -->
<!DOCTYPE html>
<html>

    <head>
        <title>Cuddle Pile - Create Post</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/createPost.css') }}">
    </head>

    <body>
        <nav>
           <!-- You can dynamically change DOM elements depending on login status with the loggedIn variable  -->
           <a href="/redirectFrontPage"> HomePage </a>
        </nav>

        <br><br>

        <form action="{{ url_for('createPost') }}" method = "POST" enctype="multipart/form-data">
            <p>Enter Text Content</p>

            <!--     Changed this tag from an input to a textarea tag, it looks better       -->
            <textarea id="textContent" name="textContent" placeholder="Post Content..."></textarea><br>
            <p>Enter Image Content</p>
            <input type="file" name="imageContent" accept="image/png, image/jpeg"><br>

            <p>Select Tags</p>
            {% for row in tags %}
            <input type="checkbox" id="{{ row[0] }}" name="postTags[]" value="{{ row[0] }}">
            <label for="{{ row[1] }}"> {{ row[1] }}</label><br>
            {% endfor %}
            <p><input class="loginBtn" type = "submit" value = "Post" /></p>
          </form>
          
          </body>
          </html>
    </body>
</html>