<!-- This html can be anything, it just needs to include this form in some way -->
<!DOCTYPE html>
<html>

	<head>
        <title>Cuddle Pile - Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/loginOrCreate.css') }}">
    </head>

    <body>
		<h1> Welcome to Cuddle Pile! </h1>

		{% if error %}
			<p><strong>Error:</strong> {{ error }}
	 	{% endif %}

		<form action = "http://127.0.0.1:5000/login" method = "POST">
			<p>Enter Email</p>
			<input type="email"
				   placeholder="Email..."
			name="name" 
			pattern="^[a-zA-Z0-9\s\S]*$" 
			title="Must Only Contain A-z, 0-9">
			<p>Enter Password</p>
			<input type="password"
				   placeholder="Password..."
					name="password" 
					pattern="^[a-zA-Z0-9@!?$.]*$" 
					title='Must only contain Alphanumeric Characters'>
			<p><input class="loginBtn" type = "submit" value = "Login" /></p>
		</form>

		<a href="/signUp"><button id="createAccount" class="loginBtn" style="width: 200px;"> Create Account</button></a>
    </body>
</html>