<!-- This html can be anything, it just needs to include this form in some way -->
<!DOCTYPE html>
<html>
    <body>
		<h1> Create New Account </h1>
		<form action = "http://localhost:5000/createAccount" method = "POST">
			<p>Enter Email:</p>
			<input type="text" 
			name="newEmail" 
			pattern="^[a-zA-Z0-9\s\S]*$" 
			title="Must Only Contain A-z, 0-9">
			<p>Enter Password:</p>
			<input type="text"  
					name="newPassword" 
					pattern="^[a-zA-Z0-9@!?$.]*$" 
					title='Must only contain Alphanumeric Characters'>
			<p><input type = "submit" value = "Create Account" /></p>
		</form>

		<script>

		</script>
    </body>
</html>